# DisableFormat: true
BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 200
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: true
SpaceBeforeParens: Never
NamespaceIndentation: All
SortIncludes: false