BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 800
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: true
SpaceBeforeParens: Never
NamespaceIndentation: All